body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #01000a;
    position: relative;
}


header {
    background: transparent;
    display: flex;
    justify-content: ;
    align-items: center;
    padding: 15px 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
header button {
    margin-left: 10px;
}
.logo {
    height: 70px;  /* Adjust height as needed */
}
.sub-heading {
    font-size: 20px;
}

.back-btn {
    background: transparent;
    color: white;
    margin-left: 20px;
   font-size: 16px;
    padding: 12px 15px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    width: 100%;
    position: relative;
    padding: 20px;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, #230553, #032708, #420101, #134101, #02382f, #01133a, #260038);
    background-size: 400% 400%;
    animation: moveBg 10s linear infinite;
    border-radius: 8px;
    z-index: -1;
}

@keyframes moveBg {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}



h1 {
    font-size: 28px;
    color: #ffffff;
    font-family: PT Serif Static;

}

.date {
    color: #9cb66b;
    font-size: 14px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    gap: 40px;
    margin-bottom: 15px;
}

button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.info-btn {
    background: #ddd;
}

.pdf-btn {
    background: transparent;
    color: white;
    border: 1px solid white;
}

.content {
    font-family: Signika Negative;
    
    align-items: flex-start;
    gap: 15px;
    text-align: justify;
}

.article-image {
    max-width: 350px;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 1px;
    
    
   border: 2px solid white;
    float: right;  /* Align to the right */
    margin: 10px 10px 10px 10px; /* Space from text */
    shape-outside: square(); /* Ensures a square wrap */
}

    /*Suggestion container */

    .suggestion-container {
            width: 200px;
            padding: 10px;
            background: rgb(30, 36, 54);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;            
            border-radius: 5px;
            position: absolute;
            top: 70px;
           display: none;
            left: 45%;
            font-family: Signika Negative;
            z-index: 1;
        }

    .sug-topics {
          border: 1px solid silver;
          padding: 14px;
          border-radius: 6px;
          

    
   

    }
    .sug-topic {
         text-decoration: none;
         display: block;
         padding: 8px;
         color: rgb(255, 255, 255);
         font-family: Signika Negative;
    }
    .sug-topic:hover {
      
        border-radius: 5px;

    }

    /*Similar articles container */

    .similar-container {
            width: 200px;
            padding: 10px;
            background: rgb(46, 1, 38);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;          
            border-radius: 5px;
            position: absolute;
            top: 70px;
            display: none;
            left:25%;
            font-family: Signika Negative;
            z-index: 1;
           

        }
        .similar-container hr{
            border:1px solid rgb(223, 223, 223);
        }
        .similar-container h3 {
            color: white;
        }
        .suggestion-container h3 {
            color: white;
        }
    .sim-topics {
          border: 1px solid silver;
          padding: 14px;
          border-radius: 6px;
    
   

    }
    .sim-topic {
         text-decoration: none;
         display: block;
         padding: 8px;
         color: rgb(255, 255, 255);
         font-family: Signika Negative;
    }
    .sim-topic:hover {
        
        border-radius: 5px;

    }

@media (max-width: 768px) {
    .logo {
    height: 90px;  /* Adjust height as needed */
    }
    .back-btn {
    display: block;
    font-size: 12px;
    background: darkred;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    }
    header button {
    margin-top: 10px
    

    }
    header {
    background: transparent;
    display: block;
    justify-content: left;
    align-items: center;
    padding: 15px 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    


  
    }
    .similar-container {
            width: 200px;
            padding: 10px;
            background: rgb(8, 24, 37);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;          
            border-radius: 5px;
            margin-top: 115px;
            display: none;
            
            font-family: Signika Negative;
            z-index: 1;
           

        }
      .suggestion-container {
        margin-top: 160px;
        transition: 0.2s;
            width: 200px;
            padding: 10px;
            background: rgb(17, 1, 12);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;            
            border-radius: 5px;
          
            display: none;
           
            font-family: Signika Negative;
            z-index: 1;
        }
    .back-btn {
    background: transparent;
    color: white;
    border: 1px solid white;
    margin-left: 20px;
    position: relative;
    left: 0px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
}
